<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davy.davy_news">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".DavyNewsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".ui.news.ArticleReadActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Transparent"
                  android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".ui.news.AdvertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".ui.news.ImageBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".ui.jiandan.ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".ui.jiandan.ImageBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>